DocGeneration/PreAppGen/bin/Debug/EncompassAutomation.xml
DocGeneration/PreAppGen/bin/Debug/EncompassObjects.xml
DocGeneration/PreAppGen/bin/Debug/GdPicture.NET.12.xml
DocGeneration/PreAppGen/bin/Debug/Iesi.Collections.xml
DocGeneration/PreAppGen/bin/Debug/NHibernate.xml
DocGeneration/PreAppGen/bin/Debug/Newtonsoft.Json.xml
DocGeneration/PreAppGen/bin/Debug/Polly.xml
DocGeneration/PreAppGen/bin/Debug/PostSharp.xml
DocGeneration/PreAppGen/bin/Debug/RestSharp.xml
DocGeneration/PreAppGen/bin/Debug/SimpleInjector.xml
DocGeneration/PreAppGen/bin/Debug/log4net.xml
DocGeneration/PreAppGen/bin/Release/EncompassAutomation.xml
DocGeneration/PreAppGen/bin/Release/EncompassObjects.xml
DocGeneration/PreAppGen/bin/Release/GdPicture.NET.12.xml
DocGeneration/PreAppGen/bin/Release/Iesi.Collections.xml
DocGeneration/PreAppGen/bin/Release/NHibernate.xml
DocGeneration/PreAppGen/bin/Release/Newtonsoft.Json.xml
DocGeneration/PreAppGen/bin/Release/Polly.xml
DocGeneration/PreAppGen/bin/Release/PostSharp.xml
DocGeneration/PreAppGen/bin/Release/RestSharp.xml
DocGeneration/PreAppGen/bin/Release/SimpleInjector.xml
DocGeneration/PreAppGen/bin/Release/log4net.xml
DocGeneration/PreAppGen/obj/
